@import "../../../../../../styles/variables";

.common-games {
  width: 100%;
  min-height: 400px;
}

.game {
  display: flex;
  max-width: 300px;
  padding: 10px;
  color: $steam-white;
  border: 1px solid $steam-white;
  border-radius: 5px;
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }

  &__icon {
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
  }

  &__description {
    margin-left: 10px;

    & > h1 {
      font-size: 20px;
    }
  }
}
