<div class="players">
    <h2>Players in room</h2>
    <input type="text">
    <ul class="players-list">
        <li class="players-list__item">
            <div class="player">
                <div class="player__avatar"></div>
                <div class="player__description">
                    <h1>Nick</h1>
                    <div class="games-count">
                        <span>games:</span>
                        <span class="games-count__number">30</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="players-list__item">
            <div class="player">
                <div class="player__avatar"></div>
                <div class="player__description">
                    <h1>Nick</h1>
                    <div class="games-count">
                        <span>games:</span>
                        <span class="games-count__number">30</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="players-list__item">
            <div class="player">
                <div class="player__avatar"></div>
                <div class="player__description">
                    <h1>Nick</h1>
                    <div class="games-count">
                        <span>games:</span>
                        <span class="games-count__number">30</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
