<div class="players">
    <h1 class="players__title">Players in room</h1>
    <div class="players__search">
        <mat-form-field
            appearance="outline"
            color="#FFF"
        >
            <mat-label>Search player</mat-label>
            <input
                type="text"
                matInput
                [formControl]="searchPlayersInput"
                [matAutocomplete]="auto"
            >
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete">
            <mat-option
                *ngFor="let player of searchedPlayers$ | async"
                [value]="player.nickname"
            >
                {{player.nickname}}
            </mat-option>
        </mat-autocomplete>
    </div>
    <mat-list class="players-list">
        <mat-list-item *ngFor="let player of players$ | async">
            <img
                matListAvatar
                [src]="player.avatarUrl"
                alt="avatar"
            >
            <div matLine>{{player.nickname}}</div>
        </mat-list-item>
    </mat-list>
</div>
