<div class="common-games">
    <h2>Common games</h2>
    <ul class="games">
        <li class="game">
            <div class="game__icon"></div>
            <div class="game__description">
                <h1>Dota</h1>
            </div>
        </li>
        <li class="game">
            <div class="game__icon"></div>
            <div class="game__description">
                <h1>Dota</h1>
            </div>
        </li>
        <li class="game">
            <div class="game__icon"></div>
            <div class="game__description">
                <h1>Dota</h1>
            </div>
        </li>
    </ul>
</div>
