<div class="common-games">
    <h2>Common games</h2>
    <mat-list>
        <mat-list-item
            *ngFor="let game of games"
            (click)="handleSelectGame(game.id)"
            class="game"
        >
            <img
                matListAvatar
                [src]="game.iconUrl || temporaryIcon"
                alt="game-icon"
            >
            <div matLine class="game__description">
                <div class="game__title">{{game.title}}</div>
                <div class="games__genre">
                    {{game.genre}}
                </div>
            </div>
        </mat-list-item>
    </mat-list>
</div>
