.common-games {
  width: 100%;
  min-height: 400px;
}

.games {
  list-style: none;
  margin-top: 30px;
  padding: 0;
}

.game {
  display: flex;
  max-width: 300px;
  border: 1px solid;
  padding: 10px;
  margin-top: 5px;

  &:first-child {
    margin-top: 0;
  };

  &__icon {
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
  }

  &__description {
    margin-left: 10px;

    & > h1 {
      font-size: 20px;
    }
  }
}
