<div class="room">
  <header class="room__header">
    <h1>Room name</h1>
  </header>
  <main class="room__content">
    <div class="common-games room__element">
      <h2>Common games</h2>
      <ul class="games">
        <li class="game">
          <div class="game__icon"></div>
          <div class="game__description">
            <h1>Dota</h1>
          </div>
        </li>
        <li class="game">
          <div class="game__icon"></div>
          <div class="game__description">
            <h1>Dota</h1>
          </div>
        </li>
        <li class="game">
          <div class="game__icon"></div>
          <div class="game__description">
            <h1>Dota</h1>
          </div>
        </li>
      </ul>
    </div>
    <div class="players room__element">
      <h2>Players in room</h2>
      <input type="text">
      <ul class="players-list">
        <li class="players-list__item">
          <div class="player">
            <div class="player__avatar"></div>
            <div class="player__description">
              <h1>Nick</h1>
              <div class="games-count">
                <span>games:</span>
                <span class="games-count__number">30</span>
              </div>
            </div>
          </div>
        </li>
        <li class="players-list__item">
          <div class="player">
            <div class="player__avatar"></div>
            <div class="player__description">
              <h1>Nick</h1>
              <div class="games-count">
                <span>games:</span>
                <span class="games-count__number">30</span>
              </div>
            </div>
          </div>
        </li>
        <li class="players-list__item">
          <div class="player">
            <div class="player__avatar"></div>
            <div class="player__description">
              <h1>Nick</h1>
              <div class="games-count">
                <span>games:</span>
                <span class="games-count__number">30</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </main>
</div>
