<div class="players">
    <h1 class="players__title">Players in room</h1>
    <div class="players__search">
        <mat-form-field
            appearance="outline"
            color="#FFF"
        >
            <mat-label>Search player</mat-label>
            <input
                type="text"
                matInput
                [formControl]="searchPlayersInput"
                [matAutocomplete]="playersSearch"
            >
        </mat-form-field>

        <mat-autocomplete
            #playersSearch="matAutocomplete"
            (optionSelected)="handleSearchedPlayerSelect($event)"
        >
            <mat-option
                *ngFor="let player of searchedPlayers"
                [value]="player"
            >
                {{player.nickname}}
            </mat-option>
        </mat-autocomplete>
    </div>
    <mat-list>
        <mat-list-item
            *ngFor="let player of players"
            class="player"
        >
            <img
                matListAvatar
                [src]="player.avatarUrl"
                alt="avatar"
            >
            <div matLine class="player__description">
                <div class="player__nickname">{{player.nickname}}</div>
                <div class="games-count">
                    games: {{player.gamesCount}}
                </div>
            </div>

            <div matline>
                <button mat-icon-button (click)="deletePlayer(player.id)">
                    <mat-icon matListIcon>close</mat-icon>
                </button>
            </div>
        </mat-list-item>
    </mat-list>
</div>
