@import "../../../../../../styles/variables";

.players {
  width: 100%;
  min-height: 400px;
}

.player {
  display: flex;
  align-items: center;
  color: $steam-white;
  border: 1px solid $steam-white;
  border-radius: 5px;
  margin-top: 10px;
  max-width: 300px;

  &:first-child {
    margin-top: 0;
  }

  &__nickname {
    font-size: 20px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
}

.games-count {
  margin-top: 5px;

  &__number {
    margin-left: 5px;
  }
}
