@import "styles/variables";
@import "styles/overrides";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient($steam-blue, $steam-accent-blue);
  color: $steam-white;
}
