<div class="room">
    <header class="room__header">
        <h1>Room name</h1>
        <chosen-game *ngIf="chosenGame"
            [game]="chosenGame"
        >
        </chosen-game>
    </header>
    <main class="room__content">
        <div class="room__element">
            <steam-games
                [games]="games"
                (gameSelect)="selectGame($event)"
            >
            </steam-games>
        </div>
        <div class="room__element">
            <steam-players
                [players]="players"
                [searchedPlayers]="searchedPlayers"
                (playerSearchTextChange)="searchPlayers($event)"
                (playerDelete)="deletePlayer($event)"
                (searchedPlayerSelect)="handleSearchPlayerSelect($event)"
            >
            </steam-players>
        </div>
    </main>
</div>
